
@{
    ViewData["Title"] = "Tintuc";
    Layout = "~/Views/Shared/_LayoutTrangchu.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="..\assets\css\blog.css" />
    <title>Document</title>
</head>
<body>
    <div class="thuctap">
        <div class="local-title">
            <p class="fw-semibold pt-4 pb-2">
                Trang chủ
                <i class="fa-solid fa-chevron-right"></i>
                Tin tức
            </p>
        </div>
        <div class="content-news mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="ctnews-left">
                            <h5 class="text-uppercase fw-bolder">
                                Top 10 mẫu nội thất chung cư 1 phòng ngủ
                            </h5>
                            <p class="fw-semibold">
                                Những căn hộ chung cư mini có diện tích nhỏ, ngày càng trở nên ưa chuộng hơn trong cuộc sống hiện đại với những ai có khoản kinh phí “hạn hẹp”. Thiết kế nội thất chung cư một phòng ngủ chính là giải pháp tối ưu nhất mang lại một không gian sống hoàn hảo và hiện đại.
                            </p>
                            <img src="../images/funir-images/news3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6">
                        <h6 class="text-uppercase pt-3">
                            Bài viết mới
                        </h6>
                        <div class="posts d-flex pt-3">
                            <img src="../images/funir-images/news2.jpg" alt="">
                            <span class="fw-semibold pl-2 pt-0 ">
                                <p class="fw-semibold">Trang trí phòng khách cho thêm năng động</p>
                                <i class="fa-regular fa-clock"></i>
                                8/9/2022
                            </span>
                        </div>
                        <div class="posts d-flex pt-3">
                            <img src="../images/funir-images/post2.jpg" alt="">
                            <span class="fw-semibold">
                                <p class="fw-semibold">Cách chọn sofa cho phòng khách thêm sang trọng</p>
                                <i class="fa-regular fa-clock"></i>
                                10/9/2022
                            </span>
                        </div>
                        <div class="posts d-flex pt-3 pb-3">
                            <img src="../images/funir-images/news2.jpg" alt="">
                            <span class="fw-semibold">
                                <p class="fw-semibold">25+ Mẫu giường ngủ hộc kéo cho phòng nhỏ</p>
                                <i class="fa-regular fa-clock"></i>
                                9/9/2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</body>
</html>